<div class="container">
    <h1 style="font-size: 3.5rem; font-family: Verdana, Geneva, Tahoma, sans-serif;">Ofertas de viajes a África</h1>
    <p style="font-size: 1.5rem;">ahhahshsdhshdsh</p>
    <table class="sin-color  table table-borderless table-responsive mt-5">
            <thead >
                <tr class="a">
                  <th scope="col">SALIENDO</th>
                  <th scope="col">NOMBRE DEL VIAJE</th>
                  <th scope="col">DIAS</th>
                  <th scope="col">DESDE EUR</th>
                </tr>
            </thead>
        
        <tbody>
          <tr>
            <th>18 SEP 2023</th>
            <td>De Zanzibar a las cataratas Victoria</td>
            <td>16</td>
            <td>1.22 €</td>
            
          </tr>
          <tr>
            <th>15 SEP 2023</th>
            <td>De Zanzibar a la costa norte de Zanzibar</td>
            <td>6</td>
            <td>1.240 €</td>
            
          </tr>
          <tr>
            <th>15 SEP 2023</th>
            <td>Nairobi a Nairobi</td>
            <td>5</td>
            <td>978 €</td>
          </tr>
        </tbody>
    </table>
</div>
